<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>listx's Blog - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/base.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
        <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    </head>
    <body>
        <div id="header">
			<a href="/">Home</a>
			&bull;
			<a href="/about.html">About</a>
			&bull;
			<a href="/code.html">Code</a>
			&bull;
			<a href="/archive.html">Archive</a>
        </div>

        <div id="content">
            <center><h1>$title$</h1></center>

            $body$
        </div>
        <div id="footer">
            <a href="https://github.com/listx/listx.github.io">Site</a>
            <a href="https://github.com/listx/listx_blog">generated</a>
            with
            <a href="http://jaspervdj.be/hakyll">Hakyll</a>
            and
            <a href="http://sebastiaanvisser.github.com/clay">Clay</a>.
        </div>
    </body>
</html>
