<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Linus's Blog - $title$</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/syntax.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Serif+Pro">
		<link rel="shortcut icon" type="image/png" href="/favicon.png">
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="/misc.js"></script>
		$partial("template/mathjax.html")$
	</head>
	<body>
		<div id="header">
			<a href="/">Blog</a>
			&bull;
			<a href="/about.html">About</a>
			&bull;
			<a href="/etc.html">Etc</a>
		</div>

		<div id="content">
			<h1 class="center" id="page-title">$title$</h1>

			$body$
		</div>
		<div id="footer">
			<p id="fleuron">❦</p>
			<p>$copyright$</p>
			<a href="https://github.com/listx/listx_blog">Site</a>
			<a href="https://github.com/listx/listx.github.io">generated</a>
			with
			<a href="https://jaspervdj.be/hakyll">Hakyll</a>
			and
			<a href="http://sebastiaanvisser.github.com/clay">Clay</a>.
			<br>
			<a href="/atom.xml">Atom feed</a>
		</div>
	</body>
</html>
