*.hi
*.o
.stack-work
**/__pycache__/
_cache/
_site/
blog
cabal.project.local
cabal.project.local~
code/2017-04-02-calling-c-from-haskell/hs/ffi
code/2021-03-15-bresenham-circle-drawing-algorithm/golden.yaml
code/toy/binary-search-c
code/toy/binary-search-hs
dist-newstyle/
listx.github.io
update-deps
